{% extends "layouts/base.html" %}
{% block content %}
<div class="container px-6 mx-auto grid">
    <h2
      class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
      {{ title }}
    </h2>
    <div class="flex items-center justify-between space-x-4 mb-4">
        <form action="" method="post" id="filter_form">
          {% csrf_token %}
          <div class="flex space-x-3">
            <label class="block text-sm w-full">
                <span class="text-gray-700 dark:text-gray-400">Compte </span>
                <select onchange="filter_data();" name="account" id="" class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-yellow-400 focus:outline-none focus:shadow-outline-yellow dark:focus:shadow-outline-gray">
                  <option value="-1">Selectionner</option>
                  {% for account in accounts %}
                    <option value="{{ account.id }}"> {{ account.account_name }} </option>
                  {% endfor %}
                </select>
            </label>
            <label class="block text-sm w-full">
              <span class="text-gray-700 dark:text-gray-400">Catégorie </span>
              <select onchange="filter_data();"  name="category" id="" class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-yellow-400 focus:outline-none focus:shadow-outline-yellow dark:focus:shadow-outline-gray">
                <option value="-1">Selectionner</option>
                {% for category in categories %}
                  <option value="{{ category.id }}"> {{ category.name }} </option>
                {% endfor %}
              </select>
            </label>
          </div>
        </form>
        <div class="mt-4">
          <button 
              id="create_modal"
              class="mt-4 px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-yellow-600 border border-transparent rounded-lg active:bg-yellow-600 hover:bg-yellow-700 focus:outline-none focus:shadow-outline-yellow">
                Ajouter
          </button>
        </div>
    </div>
    <div class="w-full overflow-hidden rounded-lg shadow-xs">
        <div class="w-full overflow-x-auto">
          <table class="w-full whitespace-no-wrap" id="model_data">
            <thead>
              <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                <th class="px-4 py-3">Libelle</th>
                <th class="px-4 py-3">Type</th>
                <th class="px-4 py-3">Montant</th>
                <th class="px-4 py-3">Compte</th>
                <th class="px-4 py-3">Categorie</th>
                <th class="px-4 py-3">Document</th>
                <th class="px-4 py-3">Actions</th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
              
            </tbody>
          </table>
        </div>
    </div>
</div>
{% include "transactions/modal_add.html" %}

{% endblock content %}
{% block javascript %}
{% include "transactions/crudplus.html" %}
{% endblock javascript %}
