<div id="create_or_update_modal" class="relative z-10 w-full hidden" aria-labelledby="modal-title" role="dialog" aria-modal="false">
    <div class="fixed w-full inset-0 bg-gray-600 bg-opacity-75 transition-opacity"></div>
  
    <div class="fixed w-full inset-0 z-10 w-screen overflow-y-auto">
      <div class="flex mt-24 items-end justify-center p-4 text-center sm:items-center sm:p-0">
        <div id="create_or_update_modal_content" class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
            {% comment %} <div class="py-3 border border-b-1">
                <h1 class="text-2xl font-semibold text-center">Title</h1>
            </div>
            <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
                <div class="sm:flex sm:items-start">
                </div> 
            </div>
            <div class="border border-t-1 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                <button type="button" class="inline-flex w-full justify-center rounded-md bg-yellow-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto">Enregister</button>
                <button type="button" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">Annuler</button>
            </div> {% endcomment %}
        </div>
      </div>
    </div>
</div>
  