{% extends "layouts/base.html" %}
{% block content %}
<div class="container px-6 mx-auto grid">
    <h2
      class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
      {{ title }}
    </h2>
    <div class="flex items-center flex-row-reverse space-x-4 mb-4">
        <div class="mt-4">
          <button 
              id="create_modal"
              class="mt-4 px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-yellow-600 border border-transparent rounded-lg active:bg-yellow-600 hover:bg-yellow-700 focus:outline-none focus:shadow-outline-yellow">
                Ajouter un compte
          </button>
        </div>
    </div>
    <div class="w-full overflow-hidden rounded-lg shadow-xs">
        <div class="w-full overflow-x-auto">
          <table class="w-full whitespace-no-wrap" id="model_data">
            <thead>
              <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                <th class="px-4 py-3">Nom</th>
                <th class="px-4 py-3">Type de compte</th>
                <th class="px-4 py-3">Balance</th>
                <th class="px-4 py-3">Actions</th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
              
            </tbody>
          </table>
        </div>
    </div>
</div>
{% include "accounts/modal_add.html" %}

{% endblock content %}
{% block javascript %}
{% include "accounts/crudplus.html" %}
{% endblock javascript %}
