<form method="post" action="" id="form_operation">
    {% csrf_token %}
    <div class="py-3 border border-b-1">
        <h1 class="text-2xl font-semibold text-center">
            {{ title }}
        </h1>
    </div>
    <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
        <div class="flex flex-col">
            <label class="block text-sm">
                <span class="text-gray-700 dark:text-gray-400">Libelle</span>
                {{ form.libelle }}
                <span class="text-red-600">
                    {{ form.libelle.errors }}
                </span>
            </label>
            <div class="flex w-full space-x-4">
                <label class="block text-sm w-1/2">
                    <span class="text-gray-700 dark:text-gray-400">Compte</span>
                    {{ form.account }}
                    <span class="text-red-600">
                        {{ form.account.errors }}
                    </span>
                </label>
                <label class="block text-sm w-2/3">
                    <span class="text-gray-700 dark:text-gray-400">Montant</span>
                    {{ form.amount }}
                    <span class="text-red-600">
                        {{ form.amount.errors }}
                    </span>
                </label>
            </div>
            <div class="flex w-full space-x-4">
                <label class="block text-sm w-1/2">
                    <span class="text-gray-700 dark:text-gray-400">Ref</span>
                    {{ form.ref }}
                    <span class="text-red-600">
                        {{ form.ref.errors }}
                    </span>
                </label>
            </div>
        </div>
        {% comment %} <div class="mt-4 flex flex-row-reverse">
            <button type="button" onclick="add_operation()" class="mt-4 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">
                Ajouter
            </button>
        </div>
        <div class="w-full overflow-auto mt-4" style="max-height: 200px;">
            <table class="w-full whitespace-no-wrap">
              <thead>
                <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                  <th class="px-4 py-3">Compte</th>
                  <th class="px-4 py-3">Référence</th>
                  <th class="px-4 py-3">Type Operation</th>
                  <th class="px-4 py-3">Montant</th>
                  <th class="px-4 py-3">Actions</th>
                </tr>
              </thead>
              <tbody id="operations_id" class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                <tr class="text-gray-700 dark:text-gray-400">
                    <td class="px-4 py-3 text-sm">
                    </td>
                    <td class="px-4 py-3 text-sm">
                    </td>
                    <td class="px-4 py-3 text-sm">
                    </td>
                    <td class="px-4 py-3 text-xs">
                        <span class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100">
                        Crédit
                        </span>
                    </td>
                    <td class="px-4 py-3 text-sm">
                    </td>
                    <td class="px-4 py-3">
                        <div class="flex items-center space-x-4 text-sm">
                        <button
                            class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-yellow-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
                            aria-label="Edit">
                            <svg
                            class="w-5 h-5"
                            aria-hidden="true"
                            fill="currentColor"
                            viewBox="0 0 20 20">
                            <path
                                d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"></path>
                            </svg>
                        </button>
                        <button
                            class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-yellow-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
                            aria-label="Delete">
                            <svg
                            class="w-5 h-5"
                            aria-hidden="true"
                            fill="currentColor"
                            viewBox="0 0 20 20">
                            <path
                                fill-rule="evenodd"
                                d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                                clip-rule="evenodd"
                            ></path>
                            </svg>
                        </button>
                        </div>
                    </td>
                </tr>
              </tbody>
            </table>
        </div> {% endcomment %}
    </div>
    <div class="border border-t-1 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
        <button type="submit" class="inline-flex w-full justify-center rounded-md bg-yellow-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-yellow-600 sm:ml-3 sm:w-auto">Enregister</button>
        <button type="button" onclick="closeModal();" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">Annuler</button>
    </div>
</form>
{% comment %} <script>
    const account = document.getElementById('account_id');
    const ref = document.getElementById('ref_id');
    const type = document.getElementById('type_id'); // Add id attribute to the select element
    const amount = document.getElementById('amount_id'); // Add id attribute to the input element
    const note = document.getElementById('description_id'); // Add id attribute to the textarea element
    const operations = document.getElementById('operations_id');
    let edit_id="-1";

    function add_row(account, ref, type, amount, note) {
        return `
        <tr class="text-gray-700 dark:text-gray-400">
            <td class="px-4 py-3 text-sm">
                <input type="text" name="accounts[]" hidden value="${account.value}" />
                <input type="text"  name="notes[]" hidden value="${note.value}" />
                <input type="text"  name="refs[]" hidden value="${ref.value}" />
                <input type="text"  name="types[]" hidden value="${type.value}" />
                <input type="text"  name="amounts[]" hidden value="${amount.value}" />
                <span>${account.innerText}</span>
            </td>
            <td class="px-4 py-3 text-sm">
                ${ref.value}
            </td>
            <td class="px-4 py-3 text-xs">
                <span class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100">
                    ${type.value}
                </span>
            </td>
            <td class="px-4 py-3 text-sm">
                ${amount.value}
            </td>
            <td class="px-4 py-3">
                <div class="flex items-center space-x-4 text-sm">
                    <button
                        class="edit-operation-btn flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-yellow-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
                        aria-label="Edit"
                        type="button">
                        <svg
                        class="w-5 h-5"
                        aria-hidden="true"
                        fill="currentColor"
                        viewBox="0 0 20 20">
                        <path
                            d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"></path>
                        </svg>
                    </button>
                    <button
                        class="delete-operation-btn flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-yellow-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
                        aria-label="Delete"
                        type="button"
                        onclick="delete_operation(${id})">
                        <svg
                        class="w-5 h-5"
                        aria-hidden="true"
                        fill="currentColor"
                        viewBox="0 0 20 20">
                        <path
                            fill-rule="evenodd"
                            d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                            clip-rule="evenodd"
                        ></path>
                        </svg>
                    </button>
                </div>
            </td>
        </tr>
        `;
    }

    function add_operation() {

        if (account.value === "-1" || ref.value === "" || type.value === "-1" || amount.value === "" || note.value === "") {
            alert("Attention");
            return;
        }
        let selected_account = account.options[account.selectedIndex];
        let selected_type = type.options[type.selectedIndex];
        if (edit_id==="-1") {
            operations.innerHTML += add_row(selected_account, ref, selected_type, amount, note);
            update_rows_id();
        } else {
            const row = document.getElementById(`row_${edit_id}`);
            console.log(row);
            const cells = row.getElementsByTagName('td');
            cells[0].children[0].value = selected_account.value ;
            cells[0].children[1].value = note.value;
            cells[0].children[2].value = ref.value;
            cells[0].children[3].value = type.value;
            cells[0].children[4].value = amount.value;
            cells[0].children[5].innerText = selected_account.innerText;
            cells[1].innerText = ref.value;
            cells[2].children[0].innerText = type.value;
            cells[3].innerText = amount.value;
            edit_id="-1";
        }

        account.value = "";
        ref.value = "";
        type.value = "";
        amount.value = "";
        note.value = "";
    }

    function edit_operation(id) {
        edit_id = id;
        console.log(edit_id);
        // Here you can implement the logic to populate the fields with the data of the selected row for editing
        const row = document.getElementById(`row_${id}`);
        const cells = row.getElementsByTagName('td');
        const accountValue = cells[0].children[0].value;
        const noteValue = cells[0].children[1].value;
        const refValue = cells[1].innerText;
        const typeValue = cells[2].innerText;
        const amountValue = cells[3].innerText;

        // Populate the form fields with the data from the selected row for editing
        account.value = accountValue;
        ref.value = refValue;
        type.value = typeValue;
        amount.value = amountValue;
        note.value = noteValue;
    }
    
    function delete_operation(id) {
        const row = document.getElementById(`row_${id}`);
        row.remove();
    }
    
    function update_rows_id(){
        let rows = operations.children;

        for (let i = 0; i < rows.length; i++) {
            rows[i].id = `row_${i}`; // Ajouter un point-virgule à la fin de la ligne
            const action_buttons = rows[i].getElementsByTagName('button'); // Utiliser getElementsByTagName pour obtenir les boutons enfants
            action_buttons[0].onclick = () => edit_operation(i); // Utiliser une fonction fléchée pour assigner l'événement onclick
            action_buttons[1].onclick = () => delete_operation(i); 
        }
    }

    function load_rows(){

    }
</script>
 {% endcomment %}
